[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/jfedor2/pico-sdk.git
[submodule "tinyusb"]
	path = tinyusb
	url = https://github.com/jfedor2/tinyusb.git
[submodule "Pico-PIO-USB"]
	path = Pico-PIO-USB
	url = https://github.com/jfedor2/Pico-PIO-USB.git
